#-----------------------
# ASM, C/C++
#-----------------------
*.o
*.obj
*.exe

#-----------------------
# Python
#-----------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ropeproject/

#-----------------------
# Sublime Text
#-----------------------
# workspace files are user-specific
*.sublime-workspace
